name: Build docker image and run testcases
on:
  push:
    branches:
      - main
jobs:
  Run-Tests:
    runs-on: ubuntu-latest
    steps:
      - name: Check out repository code
        uses: actions/checkout@v2
      - name: Build Docker image
        run: docker build -t test_image .
      - name: Test API
        run: docker run --rm test_image python manage.py test apps.api
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: us-west-2
      - name: Login to Amazon ECR
        id: login-ecr
        uses: aws-actions/amazon-ecr-login@v1
      - name: Build, tag, and push demo api image to Amazon ECR
        env:
          ECR_REGISTRY: ${{ steps.login-ecr.outputs.registry }}
          ECR_REPOSITORY: demo_api
#          IMAGE_TAG: $(echo ${{ github.sha }} | head -c 7)
        run: |
          echo ${{ github.sha }} | head -c 3 | xargs -I{} docker build -t $ECR_REGISTRY/$ECR_REPOSITORY:{} .
          echo ${{ github.sha }} | head -c 3 | xargs -I{} docker push $ECR_REGISTRY/$ECR_REPOSITORY:{}
